<launch>

  <arg name="description_package" default="blue_description" />
  <arg name="configuration_type" default="bluerov2_heavy" />

  <!-- Configuration files -->
  <arg name="controllers_file" default="controllers.yaml" />
  <arg name="localization_file" default="localization.yaml" />
  <arg name="manager_file" default="new_manager.yaml" />
  <arg name="mavros_file" default="mavros.yaml" />
  <arg name="joy_file" default="joy_teleop.yaml" />
  <arg name="gazebo_world_file" default="bluerov2_heavy_underwater.world" />
  <arg name="rviz_config" default="bluerov2_heavy.rviz" />
  <arg name="description_file" default="config.xacro" />
  <arg name="ardusub_params_file" default="ardusub.parm" />

  <!-- Localization interfaces to launch -->
  <arg name="use_camera" default="false" />
  <arg name="use_mocap" default="false" />
  <arg name="localization_source" default="gazebo">
    <choice value="gazebo" />
    <choice value="mocap" />
    <choice value="camera" />
  </arg>

  <!-- Tools to launch -->
  <arg name="use_sim" default="false" />
  <arg name="use_rviz" default="false" />

  <!-- Load the robot description file -->
  <let name="robot_description"
    value="$(command 'xacro $(find-pkg-share $(var description_package))/xacro/$(var configuration_type)/$(var description_file) use_sim:=$(var use_sim)')" />

  <!-- Nodes -->
  <node pkg="mavros" exec="mavros_node" output="screen">
    <param from="$(find-pkg-share $(var description_package))/config/$(var mavros_file)" />
    <param name="use_sim_time" value="$(var use_sim)" />
  </node>

  <node pkg="robot_state_publisher" exec="robot_state_publisher">
    <param name="use_sim_time" value="$(var use_sim)" />
    <param name='robot_description' value="$(var robot_description)" />
  </node>

  <node pkg="rviz2" exec="rviz2" if="$(var use_rviz)"
    args="-d $(find-pkg-share $(var description_package))/rviz/$(var rviz_config)">
    <param name='robot_description' value="$(var robot_description)" />
  </node>

  <!-- Included launch files -->
  <include file="$(find-pkg-share blue_bringup)/launch/sitl.launch.py" if="$(var use_sim)">
    <arg name="description_package" value="$(var description_package)" />
    <arg name="configuration_type" value="$(var configuration_type)" />
    <arg name="gazebo_world_file" value="$(var gazebo_world_file)" />
    <arg name="ardusub_params_file" value="$(var ardusub_params_file)" />
  </include>

  <include file="$(find-pkg-share blue_localization)/localization.launch.py">
    <arg name="localization_source" value="$(var localization_source)" />
    <arg name="use_camera" value="$(var use_camera)" />
    <arg name="use_mocap" value="$(var use_mocap)" />
    <arg name="use_sim_time" value="$(var use_sim)" />
    <arg name="config_filepath"
      value="$(find-pkg-share $(var description_package))/config/$(var configuration_type)/$(var localization_file)" />
  </include>

</launch>
