<launch>

  <arg name="description_package" default="blue_description" />
  <arg name="configuration_type" default="bluerov2_heavy" />
  <arg name="gazebo_world_file" default="" />
  <arg name="ardusub_params_file" default="ardusub.parm" />

  <!-- Nodes -->
  <node pkg="ros_gz_bridge" exec="parameter_bridge"
    args="/clock@rosgraph_msgs/msg/Clock[gz.msgs.Clock" />

</launch>
