<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="uvms_model">
    <hydrodynamics>
      <inertial>
        <mass value="16.61" />
        <inertia ixx="0.24" iyy="0.2" izz="0.4" />
        <center_of_gravity x="0.0" y="0.0" z="0.0" />
        <added_mass Xdu="-12.7" Ydv="-10.5" Zdw="-14.57" Kdp="-0.12" Mdq="-0.12" Ndr="-0.12" />
      </inertial>

      <damping>
        <linear Xu="-28.23" Yv="-18.29" Zw="-23.51" Kp="-0.31" Mq="-0.31" Nr="-0.31" />
        <quadratic Xuu="-93.47" Yvv="-74.28" Zww="-168.17" Kpp="-1.55" Mqq="-1.55" Nrr="-1.55" />
      </damping>

      <hydrostatics>
        <buoyancy value="159.91" />
        <center_of_buoyancy x="0.0" y="0.0" z="0.0" />
      </hydrostatics>
    </hydrodynamics>
  </xacro:macro>

</robot>
