<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="bluerov2_heavy_reach_gazebo" params="prefix">

    <xacro:property name="model" value="bluerov2_heavy_reach" />

    <gazebo>
      <plugin name="ArduPilotPlugin" filename="libArduPilotPlugin.so">
        <fdm_addr>127.0.0.1</fdm_addr>
        <fdm_port_in>9002</fdm_port_in>
        <connectionTimeoutMaxCount>5</connectionTimeoutMaxCount>
        <lock_step>1</lock_step>

        <!-- Transform from the Gazebo body frame (x-forward, y-left, z-up)
           to the ArduPilot body frame (x-forward, y-right, z-down) -->
        <modelXYZToAirplaneXForwardZDown>0 0 0 3.142 0 0</modelXYZToAirplaneXForwardZDown>

        <!-- Transform from the Gazebo world frame (ENU)
           to the ArduPilot world frame (NED) -->
        <gazeboXYZToNED>0 0 0 3.142 0 1.571</gazeboXYZToNED>

        <!-- Sensors -->
        <imuName>imu_sensor</imuName>

        <!-- Thrusters -->
        <control channel="0">
          <jointName>${prefix}thruster1_joint</jointName>
          <servo_min>1100</servo_min>
          <servo_max>1900</servo_max>
          <type>COMMAND</type>
          <cmd_topic>/model/${model}/joint/${prefix}thruster1_joint/cmd_thrust</cmd_topic>
          <offset>-0.5</offset>
          <multiplier>100</multiplier>
        </control>
        <control channel="1">
          <jointName>${prefix}thruster2_joint</jointName>
          <servo_min>1100</servo_min>
          <servo_max>1900</servo_max>
          <type>COMMAND</type>
          <cmd_topic>/model/${model}/joint/${prefix}thruster2_joint/cmd_thrust</cmd_topic>
          <offset>-0.5</offset>
          <multiplier>100</multiplier>
        </control>
        <control channel="2">
          <jointName>${prefix}thruster3_joint</jointName>
          <servo_min>1100</servo_min>
          <servo_max>1900</servo_max>
          <type>COMMAND</type>
          <cmd_topic>/model/${model}/joint/${prefix}thruster3_joint/cmd_thrust</cmd_topic>
          <offset>-0.5</offset>
          <multiplier>100</multiplier>
        </control>
        <control channel="3">
          <jointName>${prefix}thruster4_joint</jointName>
          <servo_min>1100</servo_min>
          <servo_max>1900</servo_max>
          <type>COMMAND</type>
          <cmd_topic>/model/${model}/joint/${prefix}thruster4_joint/cmd_thrust</cmd_topic>
          <offset>-0.5</offset>
          <multiplier>100</multiplier>
        </control>
        <control channel="4">
          <jointName>${prefix}thruster5_joint</jointName>
          <servo_min>1100</servo_min>
          <servo_max>1900</servo_max>
          <type>COMMAND</type>
          <cmd_topic>/model/${model}/joint/${prefix}thruster5_joint/cmd_thrust</cmd_topic>
          <offset>-0.5</offset>
          <multiplier>100</multiplier>
        </control>
        <control channel="5">
          <jointName>${prefix}thruster6_joint</jointName>
          <servo_min>1100</servo_min>
          <servo_max>1900</servo_max>
          <type>COMMAND</type>
          <cmd_topic>/model/${model}/joint/${prefix}thruster6_joint/cmd_thrust</cmd_topic>
          <offset>-0.5</offset>
          <multiplier>100</multiplier>
        </control>
        <control channel="6">
          <jointName>${prefix}thruster7_joint</jointName>
          <servo_min>1100</servo_min>
          <servo_max>1900</servo_max>
          <type>COMMAND</type>
          <cmd_topic>/model/${model}/joint/${prefix}thruster7_joint/cmd_thrust</cmd_topic>
          <offset>-0.5</offset>
          <multiplier>100</multiplier>
        </control>
        <control channel="7">
          <jointName>${prefix}thruster8_joint</jointName>
          <servo_min>1100</servo_min>
          <servo_max>1900</servo_max>
          <type>COMMAND</type>
          <cmd_topic>/model/${model}/joint/${prefix}thruster8_joint/cmd_thrust</cmd_topic>
          <offset>-0.5</offset>
          <multiplier>100</multiplier>
        </control>

      </plugin>
    </gazebo>

    <gazebo>
      <plugin filename="gz-sim-hydrodynamics-system" name="gz::sim::systems::Hydrodynamics">
        <link_name>${prefix}base_footprint</link_name>
        <!-- Added mass -->
        <xDotU>0</xDotU>
        <yDotV>0</yDotV>
        <zDotW>0</zDotW>
        <kDotP>0</kDotP>
        <mDotQ>0</mDotQ>
        <nDotR>0</nDotR>
        <!-- First order stability derivative -->
        <xU>0</xU>
        <yV>0</yV>
        <zW>0</zW>
        <kP>0</kP>
        <mQ>0</mQ>
        <nR>0</nR>
        <!-- Second order stability derivative -->
        <xUabsU>-58.42</xUabsU>
        <yVabsV>-55.137</yVabsV>
        <zWabsW>-124.818</zWabsW>
        <kPabsP>-4.0</kPabsP>
        <mQabsQ>-4.0</mQabsQ>
        <nRabsR>-4.0</nRabsR>
      </plugin>
    </gazebo>

    <!-- IMU sensor gyro and accel data will be sent to ArduSub -->
    <gazebo reference="${prefix}base_link">
      <sensor name="imu_sensor" type="imu">
        <!-- Transform from the Gazebo body frame (x-forward, y-left, z-up)
         to the ArduPilot body frame (x-forward, y-right, z-down) -->
        <pose>0 0 0 3.142 0 0</pose>
        <always_on>true</always_on>
        <update_rate>1000.0</update_rate>
      </sensor>
    </gazebo>

    <!-- Publish the ground-truth pose -->
    <gazebo>
      <plugin
        filename="gz-sim-odometry-publisher-system"
        name="gz::sim::systems::OdometryPublisher">
        <odom_frame>map</odom_frame>
        <robot_base_frame>${prefix}base_link</robot_base_frame>
        <dimensions>3</dimensions>
        <odom_publish_frequency>100</odom_publish_frequency>
      </plugin>
    </gazebo>

    <!-- Include the camera Gazebo macro -->
    <xacro:include filename="$(find blue_description)/xacro/camera/gazebo.xacro" />
    <xacro:camera_gazebo reference="${prefix}camera_mount_link" />

    <!-- Include the T200 Gazebo macro -->
    <xacro:include filename="$(find blue_description)/xacro/t200/gazebo.xacro" />

    <xacro:t200_gazebo namespace="${model}" prefix="${prefix}" id="1" ccw="true" />
    <xacro:t200_gazebo namespace="${model}" prefix="${prefix}" id="2" ccw="true" />
    <xacro:t200_gazebo namespace="${model}" prefix="${prefix}" id="3" />
    <xacro:t200_gazebo namespace="${model}" prefix="${prefix}" id="4" />
    <xacro:t200_gazebo namespace="${model}" prefix="${prefix}" id="5" ccw="true" />
    <xacro:t200_gazebo namespace="${model}" prefix="${prefix}" id="6" />
    <xacro:t200_gazebo namespace="${model}" prefix="${prefix}" id="7" />
    <xacro:t200_gazebo namespace="${model}" prefix="${prefix}" id="8" ccw="true" />

  </xacro:macro>
</robot>
