<launch>

  <!-- Static transformations from the base_link to each thruster -->
  <node pkg="tf2_ros" exec="static_transform_publisher" name="base_link_to_thruster1"
    args="--x 0.14 --y -0.092 --z 0.0 --roll -1.571 --pitch 1.571 --yaw -0.785 --frame-id base_link --child-frame-id thruster1" />

  <node pkg="tf2_ros" exec="static_transform_publisher" name="base_link_to_thruster2"
    args="--x 0.14 --y 0.092 --z 0.0 --roll -1.571 --pitch 1.571 --yaw -2.356 --frame-id base_link --child-frame-id thruster2" />

  <node pkg="tf2_ros" exec="static_transform_publisher" name="base_link_to_thruster3"
    args="--x -0.15 --y -0.092 --z 0.0 --roll -1.571 --pitch 1.571 --yaw 0.785 --frame-id base_link --child-frame-id thruster3" />

  <node pkg="tf2_ros" exec="static_transform_publisher" name="base_link_to_thruster4"
    args="--x -0.15 --y 0.092 --z 0.0 --roll -1.571 --pitch 1.571 --yaw 2.356 --frame-id base_link --child-frame-id thruster4" />

  <node pkg="tf2_ros" exec="static_transform_publisher" name="base_link_to_thruster5"
    args="--x 0.118 --y -0.215 --z 0.064 --roll 0.0 --pitch 0.0 --yaw 0.0 --frame-id base_link --child-frame-id thruster5" />

  <node pkg="tf2_ros" exec="static_transform_publisher" name="base_link_to_thruster6"
    args="--x 0.118 --y 0.215 --z 0.064 --roll 0.0 --pitch 0.0 --yaw 0.0 --frame-id base_link --child-frame-id thruster6" />

  <node pkg="tf2_ros" exec="static_transform_publisher" name="base_link_to_thruster7"
    args="--x -0.118 --y -0.215 --z 0.064 --roll 0.0 --pitch 0.0 --yaw 0.0 --frame-id base_link --child-frame-id thruster7" />

  <node pkg="tf2_ros" exec="static_transform_publisher" name="base_link_to_thruster8"
    args="--x -0.118 --y 0.215 --z 0.064 --roll 0.0 --pitch 0.0 --yaw 0.0 --frame-id base_link --child-frame-id thruster8" />

  <!-- Static transformations to support maritime frames -->
  <node pkg="tf2_ros" exec="static_transform_publisher" name="base_link_to_base_link_fsd"
    args="--x 0.0 --y 0.0 --z 0.0 --roll 3.142 --pitch 0.0 --yaw 0.0 --frame-id base_link --child-frame-id base_link_fsd" />

  <node pkg="tf2_ros" exec="static_transform_publisher" name="map_to_map_frd"
    args="--x 0.0 --y 0.0 --z 0.0 --roll 3.142 --pitch 0.0 --yaw 0.0 --frame-id map --child-frame-id map_frd" />

</launch>
