<?xml version="1.0"?>
<robot name="angler" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find blue_description)/description/angler/urdf.xacro" />
  <xacro:include filename="$(find blue_description)/description/angler/gazebo.xacro" />
  <xacro:include filename="$(find blue_demos)/manipulator_systems/description/ros2_control/angler.ros2_control.xacro" />
  <xacro:include filename="$(find blue_demos)/manipulator_systems/description/ros2_control/angler.model.xacro" />

  <xacro:arg name="prefix" default="" />
  <xacro:arg name="initial_alpha_positions_file"
    default="$(find blue_demos)/manipulator_systems/config/initial_alpha_positions.yaml" />

  <xacro:angler_urdf prefix="$(arg prefix)" />
  <xacro:angler_gazebo prefix="$(arg prefix)" controllers_file="$(arg controllers_file)" />

  <xacro:angler_model />
  <xacro:angler_system prefix="$(arg prefix)" name="angler_system" init_positions_file="$(arg initial_alpha_positions_file)" />

</robot>
