<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="uvms_gazebo" params="prefix controllers_file">

    <gazebo>
      <plugin filename="gz_ros2_control-system"
        name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>${controllers_file}</parameters>
      </plugin>
    </gazebo>

    <!-- TODO(evan-palmer): port bluerov2 gazebo stuff to here -->

  </xacro:macro>
</robot>
