<?xml version="1.0"?>
<robot name="bluerov2_heavy" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find blue_description)/description/bluerov2_heavy_reach/urdf.xacro" />
  <xacro:include filename="$(find blue_demos)/control_integration/description/ros2_control/bluerov2_heavy.ros2_control.xacro" />
  <xacro:include filename="$(find blue_demos)/manipulator_systems/description/ros2_control/uvms.model.xacro" />
  <xacro:include filename="$(find blue_demos)/manipulator_systems/description/urdf/ballast.urdf.xacro" />

  <xacro:include filename="$(find reach_description)/description/alpha_5/urdf.xacro" />
  <xacro:include filename="$(find reach_description)/description/alpha_5/ros2_control.xacro" />
  <xacro:include filename="$(find reach_description)/description/alpha_5/standard_jaws/standard_jaws.urdf.xacro" />

  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_sim" default="false" />
  <xacro:arg name="controllers_file" default="$(find reach_description)/config/alpha_5/controllers.yaml" />
  <xacro:arg name="initial_positions_file" default="$(find reach_description)/config/alpha_5/initial_positions.yaml" />

  <xacro:property name="prefix" value="$(arg prefix)" />
  <xacro:property name="use_sim" value="$(arg use_sim)" />

  <!-- create a mount for the manipulator -->
  <link name="${prefix}mount_link" />
  <joint name="${prefix}mount_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.24 -0.099 0.029" />
    <parent link="${prefix}base_link" />
    <child link="${prefix}mount_link" />
  </joint>

  <!-- BlueROV2 -->
  <xacro:bluerov2_heavy_reach_urdf prefix="$(arg prefix)" />
  <xacro:uvms_ballast prefix="${prefix}" parent="${prefix}base_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:uvms_ballast>

  <!-- Alpha 5 -->
  <xacro:alpha_5_urdf parent="${prefix}mount_link" prefix="${prefix}alpha_">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:alpha_5_urdf>
  <xacro:standard_jaws parent="${prefix}rs1_124_link" prefix="${prefix}alpha_" mimic_joint="${prefix}axis_a" />

  <!-- ros2_control -->
  <xacro:uvms_model />
  <xacro:ardusub_thruster_system prefix="$(arg prefix)" name="bluerov2_heavy_thrusters" />
  <xacro:alpha_5_system prefix="${prefix}" serial_port="$(arg serial_port)"
    initial_positions_file="$(arg initial_positions_file)" use_sim="${use_sim}" use_mock_hardware="$(arg use_mock_hardware)" />

</robot>
