<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="camera_urdf" params="prefix parent *origin">

    <link name="${prefix}camera_link">
      <inertial>
        <mass value="0.0001" />
        <inertia
          ixx="0.0001"
          ixy="0"
          ixz="0"
          iyy="0.0001"
          iyz="0"
          izz="0.0001"
        />
      </inertial>
    </link>

    <joint name="${prefix}camera_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${prefix}camera_link" />
    </joint>

  </xacro:macro>
</robot>
