<?xml version="1.0"?>
<robot name="bluerov2_heavy" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_sim" default="false" />

  <!-- Import BlueROV2 macro -->
  <xacro:include filename="$(find blue_description)/description/bluerov2_heavy/urdf.xacro" />
  <xacro:bluerov2_heavy_urdf prefix="$(arg prefix)" />

  <!-- Import the Gazebo macro -->
  <xacro:if value="$(arg use_sim)">
    <xacro:include filename="$(find blue_description)/description/bluerov2_heavy/gazebo.xacro" />
    <xacro:bluerov2_heavy_gazebo prefix="$(arg prefix)" />
  </xacro:if>

</robot>
