<?xml version="1.0"?>
<robot name="bluerov2_heavy" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find blue_description)/description/bluerov2_heavy/urdf.xacro" />
  <xacro:include filename="$(find blue_description)/description/bluerov2_heavy/gazebo.xacro" />
  <xacro:include filename="$(find blue_demos)/control_integration/description/ros2_control/bluerov2_heavy.ros2_control.xacro" />
  <xacro:include filename="$(find blue_demos)/control_integration/description/ros2_control/bluerov2.model.xacro" />

  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_sim" default="false" />

  <xacro:bluerov2_heavy_urdf prefix="$(arg prefix)" />
  <xacro:if value="$(arg use_sim)">
    <xacro:bluerov2_heavy_gazebo prefix="$(arg prefix)" />
  </xacro:if>

  <xacro:bluerov2_heavy_model />
  <xacro:ardusub_thruster_system prefix="$(arg prefix)" name="bluerov2_heavy_thrusters" />

</robot>
