<?xml version="1.0"?>
<robot name="bluerov2" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_sim" default="false" />

  <!-- Import BlueROV2 macro -->
  <xacro:include
    filename="$(find blue_description)/xacro/bluerov2/urdf.xacro" />

  <xacro:bluerov2_urdf prefix="$(arg prefix)" />

  <!-- Import the Gazebo macro -->
  <xacro:if value="$(arg use_sim)">
    <xacro:include
      filename="$(find blue_description)/xacro/bluerov2/gazebo.xacro" />
    <xacro:bluerov2_gazebo prefix="$(arg prefix)" />
  </xacro:if>

</robot>
