<?xml version="1.0"?>

<model>
  <name>BlueROV2 Heavy</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Evan Palmer</name>
    <email>evanp922@gmail.com</email>
  </author>

  <maintainer email="evanp922@gmail.com">Evan Palmer</maintainer>

  <description>
    Blue Robotics BlueROV2 Heavy configuration model
  </description>
</model>
